@import 'tailwindcss';

@layer base {
  #root {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  :root {
    --background-color: #12172c;
    --text-primary-color: #fff;
    --text-secondary-color: #e0e0e0;
    --text-third-color: #a2a2a2;
    --primary-color: #0098ea;
    --button-bg-color: #2695f0;
  }

  * {
    padding: 0;
    margin: 0;
    border: 0;
  }

  *,
  *::before,
  *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  html,
  body {
    height: 100vh;
    width: 100vw;
    font-style: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--background-color);
    font-family: 'Inter', 'Open Sans', sans-serif;
  }

  input,
  button,
  textarea {
    font-family: inherit;
  }

  input {
    &::-ms-clear {
      display: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s !important;
    }
  }

  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    bottom: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  div {
    -webkit-tap-highlight-color: transparent;
  }
}

p {
  line-height: 2rem;
}
