.ton_connect_wrapper {
  display: flex;
  justify-content: space-between;
  & button {
    padding: 0 !important;
    background-color: var(--primary-color) !important;
    height: 2rem;
  }
  .go3349661836 > path {
    fill: white !important;
  }
}
